importlib-metadata==6.8.0
jaraco.classes==3.2.3
keyring==24.2.0; sys_platform == 'darwin'
more-itertools==9.1.0
paho-mqtt==1.6.1
Pillow==9.5.0
pyrsistent==0.19.3
pystray==0.19.4
pywin32==306; sys_platform == 'win32'
pywin32-ctypes==0.2.2; sys_platform == 'win32'
six==1.16.0
zipp==3.15.0
